# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!/run/config/mm/
!/run/config/mm/*

# Files from Forge MDK
forge*changelog.txt
